@model MVCLogin.ViewModels.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #login-div {
        border: 1px solid #ccc;
        padding: 10px 10px;
    }

    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

    .field-validation-error {
        color: red;
    }
</style>

<div id="login-div" class="centered">
    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
    {
        <table>
            <tr>
                <td></td>
                <td style="text-decoration:underline;"><h1 style=" font-size: 20px;">MVC Login App</h1></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserName)
                </td>
                <td>
                    @Html.EditorFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.EditorFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error">
                        @Html.DisplayFor(model => model.LoginErrorMessage)
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" name="name" value="Login" />
                    <input type="reset" class="btn btn-secondary" name="name" value="Clear" />
                </td>
            </tr>
        </table>
    }
</div>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>